*{
  margin: 0;
  padding: 0;
}
.App{
  text-align: center;
}
h1{
  margin-left: 5px;
}
.header{
  background-color: gray;
  padding: 10px;
}
header{
  padding: 5px;
  background-color: whitesmoke;
  font-size: x-large;
  text-align: center;
  font-weight: 700;
}
input{
  margin-left: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: antiquewhite;
  gap: 10px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  background-color: aquamarine;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.heading{
  color: black;
  font-size: 50px;
  margin: 10px;
}
.main2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: violet;
  font-size: 25px;
  gap: 10px;
}
.apidata{
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}
/* customhooks api data */
.finaldata{
  margin: 5px;
  padding: 5px;
}